/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */


 html, body, h1, h2, h3, h4, h5, h6, hr, li, ul, p, a, img, button {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-family: "Pingfang SC", "Open Sans", "Lantinghei SC", "Microsoft Yahei Light", "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
    font-weight: 200;
    list-style: none;
  }
 .message {
  position: fixed;
  right: 0;
  top: 15%;
  z-index: 2;
}
.w-70{
  width:17.5rem
}
.text-gray{
  color:#808080
}
.bg-play{
  background-color:#CA9ECE
}
.bg-download{
  background-color:#B6D7B3
}
.bg-search-item{
  background-color: #93A9BD;
  cursor: pointer
}
.search-input{
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  background: #F9F0DA;
  border: 1px solid #FECEDC;
  outline: none;
  color:#928BA9;
  transition: .3s linear;
}
.search-input:focus {
  width: 300px;
}
.bg-gray-darker{
  background-color: #f9f9f9
}
.router-link-exact-active {
  font-weight: bold;
  background-color: #f9f9f9
}
.bg-hanju{
  background-color: #fff;
}
.clickable {
    -webkit-app-region: no-drag;
  }
.bg-sidebar{
  background-color: #928BA9;
}
.border-backblack {
  border-color: black;
}
.dplayer-logo{
  left: 0;
  right: 20px!important;
}
::-webkit-scrollbar {
  background-color: #D1CCC6;
  border-left: 1px solid #93A9BD;
  width: .65rem;
}

::-webkit-scrollbar-thumb {
  background:  #928BA9;
  border-radius: 10px;
}

.discover-banner{
  background: linear-gradient(to top right, #CA9ECE, #FDB8A1, #D1CCC6);
  background: -webkit-linear-gradient(left bottom, #CA9ECE, #FDB8A1, #D1CCC6);
  animation: ani-hue 10s infinite linear;
  -webkit-animation: ani-hue 10s infinite linear;
  max-height: 40px;
}

.button-window {
  height: 22px;
  width: 22px;
}
.vbanner{
  display: block;
  width: 100%;
  height:100%;
}
@-webkit-keyframes ani-hue {
  from {
    -webkit-filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
@keyframes ani-hue {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}

/* CHECKBOX TOGGLE SWITCH */
.form-switch {
  @apply relative select-none w-12 mr-2 leading-normal;
}
.form-switch-checkbox {
  @apply hidden;
}
.form-switch-label {
  @apply block overflow-hidden cursor-pointer bg-grey border rounded-full h-6  shadow-inner;

  transition: background-color 0.2s ease-in;
}
.form-switch-label:before {
  @apply absolute block bg-hanju pin-y w-6 border rounded-full -ml-1;
  
  right: 50%;
  content: "";
  transition: all 0.2s ease-in;
}
.form-switch-checkbox:checked + .form-switch-label,
.form-switch-checkbox:checked + .form-switch-label:before {

}
.form-switch-checkbox:checked + .form-switch-label {
  @apply bg-blue shadow-none;
}
.form-switch-checkbox:checked + .form-switch-label:before {
  @apply pin-r;
}

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
